@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(103, 61, 255) 3%,
    rgb(0, 41, 188) 38%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
.Main {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 35px;
  font-weight: 800;
  font-family: montserrat;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  padding: 10px;
  margin: 0 auto;
}

.Showwindow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #003cff 0%,
    rgb(25, 38, 178),
    #010f6a 100%
  );
  border-radius: 50px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px black;
}

.image_container {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 330px;
  align-items: center;
  padding: 100px 0 100px;
  overflow: hidden;
}

.text {
  color: white;
}

.file_upload_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    225deg,
    #7b00ff 0%,
    #003a9e 50%,
    #28005d 100%
  );
  padding: 10px;
  font-family: montserrat;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.input_main {
  display: none;
}

.image {
  width: auto;
  height: 100%;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
}

p {
  font-family: montserrat;
  font-size: 20px;
  color: white;
}
